<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
	<title><%= title %></title>
    <% include  partials/header.ejs %>
</head>
<body>
	<div id="confirm"></div>
	<div class="se-pre-con"></div> 
	
	<!-- Render AngularJS views  -->
	<section ng-view></section>

	<!-- Render the user object -->
	<script type="text/javascript">
		window.user = <%- user || 'null' %>;
	</script>

	<!-- Require JS API-->
	<script type="text/javascript" data-main="lib/js/main" src="lib/js/require.js" async></script>

	<!-- Load local libraries -->
	<% include  partials/angular-lib.ejs %>

	<!-- Load the shop ng - module -->
	<% include  partials/shop.ejs %>

	<!-- Load the birds ng - module -->
	<% include  partials/birds.ejs %>


	<!-- Load the users module -->
	<% include  partials/user.ejs %>

	<!-- Bootstrap AngularJS application -->
	<script type="text/javascript" src="/application.js"></script>
</body>
</html>